<h1>Login Page</h1>
<%= form_with url:login_path do |form| %>
    <div class="field">
        <%=form.label :username %>
        <%=form.text_field :username %>
    </div>
    <br>
    <div class="field">
         <%= form.label :password %>
        <%= form.password_field :password %>
    </div>
    <br>

    <div class="actions">
        <%=form.submit 'Login' %>
    </div>
<%end%>
